.quick-lay {
    background: #fff;
    display: inline-block;
    padding: 10px; 
    position: absolute;
    text-align: center;
    
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

.quick-lay p {
    margin: 0 0 1em; 
}

.quick-lay-close {
    background: #2C2C2C;
    cursor: pointer;
    height: 0.7em;
    font-size: 22px;
    position: absolute;
    top: 10px;
    right: -15px; 
    text-indent: -10000px;
    width: 0.1em;
    
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}

.quick-lay-close:after {
    background: #2C2C2C;
    content: "";
    height: 0.7em;
    position: absolute;
    width: 0.1em;
    
    -webkit-transform: rotate(-90deg);
       -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
         -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
}